.rectangle-1 {
    /* margin-left: 290px; */
    margin-left: 21%;
    width: 60%;
    height: 100vh;
    background-color: #efefef;
    text-align: center;
    cursor: pointer;
}

.rectangle-2 {
    position: absolute;
    width: 50vw;
    height: 85vh;
    top: 7%;
    left: 26%;
    background-color: yellow;
    text-align: center;
    cursor: pointer;
}

.rectangle-3 {
    position: absolute;
    width: 40vw;
    height: 70vh;
    top: 14.5%;
    left: 31%;
    background-color: green;
    text-align: center;
    cursor: pointer;
}